*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: Arial, sans-serif;

}

#hero{
    height: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    color: black;
}
.name{
    color: rgb(15, 114, 255);
}
#photo{
    margin-top: 10%;
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-left: 20px; */
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: gray;
    padding: 20px 0;
    cursor: pointer;
}

img{
    border-radius: 40%;
    object-fit: cover;
    width: 350px;
    height: 350px;

}
#about{
    height: 100%;
    width: 100%;
    /* margin-left: 15%; */

    margin-top: 10%;
    margin-right: 25%;
}

button{
    margin-top: 10px;
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
